SMOTE

In [15]:
from sklearn.datasets import make_classification
X,y=make_classification(n_samples = 1000,n_redundant=0,n_features = 2,n_clusters_per_class =1,weights=[0.90],random_state=12)
import pandas as pd

# Create DataFrames for features and target

df1 = pd.DataFrame(X, columns=['f1', 'f2'])
df2 = pd.DataFrame(y, columns=['target'])

# Concatenate features and target into a single DataFrame
final_df = pd.concat([df1, df2], axis=1)
df1.head()

         f1        f2
0 -0.762898 -0.706808
1 -1.075436 -1.051162
2 -0.610115 -0.909802
3 -2.023284 -0.428945
4 -0.812921 -1.316206

In [ ]:
from imblearn.over_sampling import SMOTE

# Initialize SMOTE oversampler
oversample = SMOTE()

# Apply SMOTE to the dataset
X_resampled, y_resampled = oversample.fit_resample(final_df[['f1', 'f2']], final_df['target'])

print(X_resampled.shape)  # (1800, 2)
print(y_resampled.shape)  # (1800,)ff

(1800, 2)
(1800,)